<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Define o destino do log (exemplo: ficheiro) -->
		<target xsi:type="File" name="logfile"
				fileName="${basedir}/logs/log-${shortdate}.txt"
				layout="${longdate} | ${level:uppercase=true} | ${message} | ${exception:format=tostring}"
				keepFileOpen="false"
				concurrentWrites="true"
				fileShare="Write" />
	</targets>

	<rules>
		<!-- Define que todos os logs de nível Info ou superior serão gravados no ficheiro -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
