<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Define o target para arquivos com nome dinâmico e data -->
		<target name="file" xsi:type="File"
				fileName="${basedir}/Logs/${event-properties:NomeLog}_${date:format=dd-MM-yyyy}.log"
				layout="${message}"
				internalLogFile="internal-nlog.log" internalLogLevel="Debug"
/>
	</targets>
	<rules>
		<!-- Regras para salvar logs -->
		<logger name="Metodos.IntegradorCRM.*" minlevel="Info" writeTo="file" />
	</rules>
	<globalConfig>
		<default-culture>pt-PT</default-culture>
	</globalConfig>

</nlog>
